<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="{{data.site_url}}">
          <img src="{{data.site_url}}mod/argon/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
               {% for n in data.menu %}
                    
                   
                    
            <li class="nav-item">
              <a class="nav-link" href="{{n.getHref}}">
                <i class="ni ni-elgg-{{n.getname}} text-primary"></i>
                <span class="nav-link-text">{{n.gettext}}</span>
              </a>
            </li>
            
            {%endfor%}
             
             
            
          </ul>
           
           
        </div>
      </div>
    </div>
  </nav>